@import url("font/VenusRising-Regular.ttf");
@import url("font/GreycliffCF-HeavyOblique.otf");

@font-face {
  font-family: VenusRising;
  src: url("font/VenusRising-Regular.ttf") format("opentype");
}
@font-face {
  font-family: GreycliffHeavyOblique;
  src: url("font/GreycliffCF-HeavyOblique.otf") format("opentype");
}
.noselect {
  -webkit-touch-callout: none; /* iOS Safari */
  -webkit-user-select: none; /* Safari */
  -khtml-user-select: none; /* Konqueror HTML */
  -moz-user-select: none; /* Firefox */
  -ms-user-select: none; /* Internet Explorer/Edge */
  user-select: none; /* Non-prefixed version, currently supported by Chrome and Opera */
}
html {
  overflow-y: hidden;
}
body {
  background-image: url(img/BackgroundEfortion.png);
  background-size: cover;
  background-repeat: no-repeat;

  font-family: VenusRising;
  /*    color: white !important;*/
}

/*nav*/
.navBrand {
  width: 20vw;
}



.nav-link:hover{
    text-shadow: 0 0 10px #fff, 0 0 20px #fff;
    transition: 0.5s;
        
}

/*Home page*/

.desc {
  font-family: GreycliffHeavyOblique;
}
.glow-e {
  background: -webkit-linear-gradient(left, #f8d45c, #f2b664);
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
  -webkit-animation: glow-e 2s ease-in-out infinite alternate;
  -moz-animation: glow-e 2s ease-in-out infinite alternate;
  animation: glow-e 2s ease-in-out infinite alternate;
}
@-webkit-keyframes glow-e {
  from {
    text-shadow: 0 0 5px #f8d45c, 0 0 10px #f8d45c;
  }
  to {
    text-shadow: 0 0 10px #fbbd4c, 0 0 40px #fbbd4c;
  }
}
.glow {
  text-align: center;
  -webkit-animation: glow 2s ease-in-out infinite alternate;
  -moz-animation: glow 2s ease-in-out infinite alternate;
  animation: glow 2s ease-in-out infinite alternate;
}
@-webkit-keyframes glow {
  from {
    text-shadow: 0 0 10px #fff, 0 0 20px #fff;
  }
  to {
    text-shadow: 0 0 20px #fff, 0 0 30px #fff;
  }
}

.iso {
  width: 20vw;
  transition: 0.5s;
  animation: jolt 2s linear infinite;
  animation-direction: alternate;
}
.iso:hover {
  width: 21vw;
  transition: 0.5s;
  transform: scaleY(1);
}
@keyframes jolt {
  0% {
    transform: translateY(0);
  }
  100% {
    transform: translateY(-15px);
  }
}

/*Seminar Page*/
.sec{
    color: white;
    border: solid white;
}
